<b class="spoiler-title">§3. Выдача кредитов</b>
<div class="spoiler-text">
	<p>Коммерческие банки ограничены государством в выдаче кредитов. Ограничения накладываются нормой обязательного резерва и коэффициентом усреднения. Банк может выдать кредит, записав на счёт получателя кредита сумму гораздо большую, чем хранится в центральном банке в качестве резерва банка. Таким образом, с разрешения государства, коммерческие банки участвуют в процессе создания денежной массы.</p>

<p>На 24 августа 2010 года в России на каждый 1 рубль резервного фонда в центральном банке, коммерческие банки могут выдать не более 40 рублей физическим лицам в качестве кредита. Это связано с величиной банковского (денежного) мультипликатора, который рассчитывается на основе резервной нормы (2,5 %). Мультипликатор = 100/Резервная норма в процентах.</p>

<p>Для получения, к примеру, одного из распространённых кредитов — потребительского кредита — работает следующая последовательность действий:</p>
<ul>
   <li> Заёмщик приходит в магазин и решает приобрести товар в кредит. С представителем банка (администратором) они заполняют заявку на получение кредита и отправляют её в банк, при условии, что клиент соответствует обязательным требованиям банка.</li>

<li>    Заявка рассматривается банком. Рассмотрением занимается отдел авторизации. Из отдела авторизации приходит в тот же магазин сообщение с результатом — «Отказ», «Одобрение» или «Отказ, но с альтернативами».</li>

   <li> При положительном решении клиент с администратором оформляют всю кредитную документацию. Если первоначальный взнос имеется, то клиент его сразу же и оплачивает.</<li>

<li>    Администратор в конце рабочего дня отправляет все заключённые договоры в банк (в отдел регистрации), где договоры регистрируются. Затем в магазин перечисляются деньги за товары, предоставленные в кредит.
</li>
</ul>

</div>