<b class="spoiler-title">§2. Классификация банковских кредитов</b>
<div class="spoiler-text">
    <p>Банковские кредиты классифицируются по ряду признаков:</p>
    <p><b>1. По сроку погашения: </b></p>
    <ul>
        <li>онкольные</li>
        <li>Overnight</li>
        <li>краткосрочные</li>
        <li>среднесрочные</li>
        <li>долгосрочные</li>
    </ul>
    <p><b>2. По способу погашения: </b></p>
    <ul>
        <li>погашаемые одной суммой в конце срока</li>
        <li>погашаемые равными долями через равные промежутки времени (этот вариант предполагает согласование графика погашения основной суммы долга и процентов с указанием конкретных дат и сумм)</li>
        <li>погашаемые неравными долями через различные промежутки времени:
            <ul>
                <li>сложный кредит (с выплатой от 20 до 50 % суммы кредита в конце срока);</li>
                <li>прогрессивный кредит (с прогрессивно нарастающими к концу срока действия кредитного договора выплатами);</li>
                <li>сезонный кредит (кредит для сезонных производств с выплатами только в те месяцы, на которые приходятся максимальные суммы выручки).</li>
            </ul>
        </li>
    </ul>
    <p><b>3. По способу взимания ссудного процента:</b></p>
    <ul>
        <li>плата в момент погашения ссуды</li>
        <li>плата равномерными взносами в течение всего срока действия кредитного договора</li>
        <li>оплата в момент выдачи кредита</li>
    </ul>
    <p><b>4. По наличию обеспечения: </b></p>
    <ul>
      <li>доверительные (необеспеченные) ссуды</li>
      <li>обеспеченные ссуды</li>
      <li>ссуды под финансовые гарантии третьих лиц</li>
    </ul>
    <p><b>5. По целевому назначению:</b></p>
    <ul>
      <li>связанные (целевые) ссуды, например:
        <ul>
            <li>платёжные (на проведение конкретной коммерческой сделки или удовлетворение временной нужды)
                <ul>
                    <li>на оплату расчётных (платёжных) документов контрагентов клиента;</li>
                    <li>на приобретение ценных бумаг;</li>
                    <li>на авансовые платежи;</li>
                    <li>на заработную плату (выдача денег по чеку со ссудного счета заёмщика).</li>
                </ul>
            </li>
            <li>на финансирование производственных затрат, то есть на
                <ul>
                    <li>формирование запасов товарно-материальных ценностей;</li>
                    <li>финансирование текущих производственных затрат;</li>
                    <li>финансирование инвестиционных затрат, включая кредиты на лизинговые и т. п. операции (промежуточные).</li>
                </ul>
            </li>
            <li>учёт (покупка) векселей, включая операции репо.</li>
            <li>потребительские кредиты.</li>
        </ul>
      </li>
      <li>ссуды общего характера (нецелевые, несвязанные).</li>
    </ul>
    <p><b>По форме предоставления кредита:</b></p>
    <ul>
      <li>ссуды в безналичной форме:
        <ul>
            <li>зачисление безналичных денег на соответствующий счет заёмщика, в том числе реструктуризация ранее выданного кредита и предоставление нового;</li>
            <li>кредитование с использованием векселей банка;</li>
            <li>в смешанной форме (сочетание 2-х предыдущих вариантов).</li>
        </ul>
      </li>
      <li>ссуды в налично-денежной форме (как правило, физическим лицам)</li>
    </ul>
    <p><b>По технике предоставления кредита:</b></p>
    <ul>
      <li>одной суммой;</li>
      <li>в виде овердрафта;</li>
      <li>в виде кредитной линии:
        <ul>
            <li>простая (невозобновляемая) кредитная линия;</li>
            <li>возобновляемая (револьверная) кредитная линия, в том числе:
                <ul>
                    <li>онкольная (до востребования) кредитная линия (кредитование в пределах согласованной суммы лимита и в рамках установленного периода времени, таким образом, что лимит может непрерывно и автоматически (без заключения дополнительного соглашения) восстанавливаться при погашении взятых ранее траншей);</li>
                    <li>контокоррентная кредитная линия (кредитование в пределах оговоренной суммы лимита и установленного срока действия соглашения, при котором транши непрерывно и автоматически выдаются и погашаются, отражаясь на едином контокоррентном счёте, сочетающем в себе свойства ссудного и расчётного счетов, лимит при этом каждый раз восстанавливается).</li>
                </ul>
            </li>
        </ul>
      </li>
    </ul>   
    <p><b>По способу предоставления кредита:</b></p>
    <ul>
        <li>индивидуальный кредит (предоставляемый заёмщику одним банком)</li>
        <li>синдицированный</li>
    </ul>   
    <p><b>По категориям потенциальных заёмщиков:</b></p>
    <ul>
        <li>Аграрные ссуды</li>
        <li>Коммерческие ссуды</li>
        <li>Ссуды посредникам на фондовой бирже</li>
        <li>ипотечные ссуды владельцам недвижимости</li>        
        <li>межбанковские ссуды</li>
        <li>Кредит для юридических лиц</li>
        <li>Кредит для физических лиц</li>    
    </ul>
    <p>Для классификации кредитов на те или иные группы и виды могут использоваться и другие критерии.
        </p> 
    <p>Банковские кредиты подразделяются на активные и пассивные. В первом случае банк выдает кредит, то есть выступает кредитором, во втором берёт кредит, то есть является заёмщиком. Банк может входить в кредитные отношения (брать или давать кредиты) и с другими банками (иными кредитными организациями), включая Центральный банк Российской Федерации, выполняя в зависимости от ситуации активную или пассивную функцию. Такие отношения называются межбанковским кредитованием. Что касается кредитования предприятий, организаций, учреждений и физических лиц (нефинансовый сектор экономики), то кредитные отношения банка с ними имеют другой характер — он практически всегда является кредитором.</p>
</div>