<b class="spoiler-title">§9. Требования к процессу возврата клиентом кредита и уплаты процентов за кредит</b>
<div class="spoiler-text">
	Погашение основного долга и процентов по кредиту осуществляется следующими способами:

    списанием средств со счёта заёмщика по его платёжному поручению;
    списанием средств со счёта заемщика, обслуживаемого в другом банке, на основании платёжного требования банка-кредитора. В этом случае средства могут списываться без акцепта владельца счета, если такая возможность предусмотрена в договоре и заёмщик письменно уведомил банк, в котором открыты его счета, о своем согласии на такое списание средств в соответствии с заключённым договором;
    списанием средств со счёта заемщика — юридического лица, обслуживающегося в самом банке-кредиторе, на основании платёжного требования последнего (в безакцептном порядке, если это предусмотрено в договоре);
    перечислением средств со счетов заёмщиков — физических лиц на основании их письменных распоряжений, переводом ими денег через предприятия связи или другие кредитные организации;
    взносом наличных в кассу банка-кредитора;
    удержанием из сумм, причитающихся на оплату труда заёмщиков, являющихся работниками банка-кредитора (по их заявлениям или на основании договора).

В установленный в кредитном договоре день (день уплаты процентов и/или погашения основного долга) работник бухгалтерии, ответственный за ведение счёта заёмщика, на основании соответствующего распоряжения, подписанного уполномоченным должностным лицом банка, либо оформляет бухгалтерскими проводками факт уплаты процентов и/или погашения основного долга, либо (при неисполнении или ненадлежащем исполнении клиентом своих обязательств по договору) переносит возникшую задолженность клиента на счета учёта просроченной задолженности.

Задолженность по кредитам, безнадежная и/или признанная нереальной для взыскания, в установленном порядке списывается с баланса банка за счет средств специально формируемых на такой случай резервов, а при недостатке таких средств относится на убытки отчётного года.
</div>