<b class="spoiler-title">§7. Принципы кредитования</b>
<div class="spoiler-text">
<p>	Безусловными принципами банковского кредитования являются:
</p>
<ul>
    <li>Принцип срочности означает, что кредит даётся на однозначно определённый срок.</li>    
<li>Принцип возвратности предполагает, что в определённый договором срок вся сумма кредита должна быть возвращена полностью.
                 </li>                
<li>                 Принцип платности подразумевает, что за право пользования кредитом заёмщик должен заплатить оговоренную сумму процентов.
         </li>         
         <li>     Принцип подчинения кредитной сделки нормам законодательства и банковским правилам (в частности, обязательно составление кредитного договора или соглашения в письменной форме, не противоречащего закону и нормативным актам ЦБ РФ).</li>
    <li>Принцип неизменности условий кредитования. То есть изменение условий кредитного договора (соглашения) должно производиться в соответствии с правилами, сформулированными в самом кредитном договоре либо в специальном приложении к нему.</li>
    <li>Принцип взаимовыгодности кредитной сделки означает, что условия сделки должны адекватно учитывать коммерческие интересы и возможности обеих сторон.
    </li></ul>

В особую группу принципов следует выделить распространённые правила кредитования, которые используются, если такова воля сторон, выраженная в кредитном договоре, и не должны применяться, если не включены в такой договор (не безусловные принципы):

    принцип целевого использования кредита;
    принцип обеспеченного кредитования (кредит может быть обеспечен полностью, частично или не обеспечен вовсе).

Кроме того, в ещё одну группу можно выделить принципы кредитования, которые предназначены для «служебного пользования» сотрудниками банков и должны закрепляться в их внутренних документах в качестве элемента кредитной политики.
</div>