<b class="spoiler-title">§6. Платежи по кредитам</b>
<div class="spoiler-text">
<p>	Аннуитетный платёж — это равный по сумме ежемесячный платёж по кредиту, который включает в себя сумму начисленных процентов за кредит и сумму основного долга. Расчёт аннуитентного платежа в банках производится по несколько разным формулам. Поэтому даже при одинаковой процентной ставке размер аннуитентного платежа может различаться у разных банков.
</p>
<p>Дифференцированный платёж — это ежемесячный платёж по кредиту, уменьшающийся к концу срока кредитования и состоит из выплачиваемой постоянной доли основного долга и процентов на невыплаченный остаток кредита.
</p></div>