<b class="spoiler-title">§4. Правовое регулирование в России</b>
<div class="spoiler-text">
<p>	В РФ обычно кредитные отношения оформляются договором займа или кредитным договором. Кредиты по кредитному договору могут выдаваться только кредитными организациями. Самым существенным отличием кредита и займа является то, что договор займа считается заключённым с момента передачи денег (реальный договор), а кредитный договор — с момент его заключения.
</p>
<p>Договор предполагает существование двух сторон: кредитора и заёмщика. Согласно договору, кредитор обязуется предоставить кредит, а заёмщик принять кредит и своевременно вернуть кредит, уплатив проценты.
</p></div>