<b class="spoiler-title">§8. Требования к процессу выдачи кредитов</b>
<div class="spoiler-text">
	Банк разрабатывает и утверждает внутренние документы, определяющие его кредитную политику, а также учётную политику и подходы к её реализации, а также документы, определяющие процедуры принятия решений о размещении банком денежных средств, распределение функций и полномочий между подразделениями и должностными лицами банка, включающие внутренние правила размещения средств, в том числе правила кредитования клиентов.

Выдача кредита в зависимости от типа клиента может быть осуществлена в следующем порядке:

    юридическим лицам — в безналичной форме путем зачисления средств на расчётный, текущий или корреспондентский счёт;
    физическим лицам — в безналичной форме путем зачисления средств на счёт лица в банке либо наличными через кассу банка;
    кредиты в иностранных валютах выдаются юридическим и физическим лицам только в безналичной форме.

Кредит выдаётся на основании распоряжения, надлежащим образом составленного специалистами кредитного подразделения банка и подписанного уполномоченным должностным лицом банка. Банк-кредитор обязан создавать резервы на возможные потери по ссудам (РВПС) от кредитной деятельности в порядке, установленном Банком России.
</div>