@import url(http://fonts.googleapis.com/css?family=Exo+2:300,400,200&subset=latin,cyrillic);

html{
	height: 100%;/* make sure it is at least as tall as the viewport */
	position: relative;
    font-family: 'Exo 2', sans-serif;
}
body{
	height: 100%; /* force the BODY element to match the height of the HTML element */
}

/*#_umenu10{
	display: none;
}

#puzadpn{
	display: none;
}

#uzGrid{
	display: none;
	}*/

	.outer > div{
		display: none !important;
	}

	.hidden{
		display: none;
	}

	.outer {
		display: table;
		position: absolute;
		height: 100%;
		width: 100%;
	}

	.middle {
		display: table-cell !important;
		vertical-align: middle;
		background-color: #333333;
	}


	.inner {
		margin: auto;
	}
/*.wrapper-outer{
	width: 100%;
	height: 100%;
}
.wrapper-inner{
	vertical-align: middle;
	background-color: #333333;
	}*/

	/*Basic*/
	.container{	
		width: 900px;
		height: 390px;
		background-color: white;
		position: relative;
	}

	/*Office*/
	.office{
		/*float: left;*/
		/*width: 420px;*/
		/*height: 400px;*/
		border: 1px solid black;
		width: 50%;
		background: url(../img/office.jpg) no-repeat no-repeat;
		background-size: cover;
	}

	.watch {
		margin-left: 84px;
		margin-top: 6px;
		width: 35px;
	}

	.watch-object{
		width: 150px;
		height: 200px;
		display: inline-block;
		background: url(../img/grifon_0.png) no-repeat no-repeat;
		background-size: cover;
		position: absolute;
		left: -20px;
		top: -170px;
	}

	.desk {
		height: 150px;
		width: 450px;
		background: url(../img/computer-office-table-preview.png) no-repeat no-repeat;
		background-size: cover;
		position: absolute;
		bottom: 0;
	}

	.document { 
		display: inline-block;
		width: 100px;
		height: 100px;
		background: url(../img/document.png) no-repeat no-repeat;
		background-size: cover;
		position: absolute;
	}

	.document.yes{
		left: 140px;
		top: 25px;
	}

	.document.no{
		left: 220px;
		top: 25px;
	}

	.document.no:hover {
		background: url(../img/document-no.png) no-repeat no-repeat;
		background-size: cover;
	}
	.document.yes:hover {
		background: url(../img/document-yes.png) no-repeat no-repeat;
		background-size: cover;
	}

	.queue{
		position: absolute;
		top: 160px;
		left: -150px;
	}

	.bot-hover{
		position: absolute;
		z-index: 10;
		width: 129px;
		height: 96px;
		display: inline-block;
		background-color: #333; 
	}

	.bot{
		position: absolute;
		width: 129px;
		height: 96px;
		display: inline-block;
		background-size: cover;
	}

	.help {
		display: inline-block;
		width: 100px;
		height: 100px;
		background: url(../img/help.png) no-repeat no-repeat;
		background-size: cover;
		position: absolute;
		right: 10px;
		top: -40px;
	}

	.help:hover {
		width: 100px;
		height: 100px;
		background: url(../img/help-hover.png) no-repeat no-repeat;
		background-size: cover;
	}

	/*Dialog*/
	.dialog{
		/*float: left;*/
		/*width: 220px;*/
		/*height: 400px;*/
		border: 1px solid black;
		padding: 15px;
		background: url(../img/notebook-2.jpg) no-repeat no-repeat;
		background-size: cover;
	}

	.dialog-history{
		overflow-y: scroll;
		height: 220px;
	}

	.dialog-choices{
		position: absolute;
		bottom: 0;
		height: 140px;
	}

	.dialog-choices p:hover{
		cursor: pointer;
		background-color: #CCCCFF;
	}

	.result{
		position: absolute;
		top: 50px;
		bottom: 50px;
		right: 50px;
		left: 50px;
		z-index: 100;
		background: url(../img/res.png);
		border-radius: 50px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
	}

	.result .text-big{
		z-index: 200;
		text-align: center;
		margin-top: 100px;
		font-weight: bold;
		font-size: 28px;
		color: green;
	}
 	
 	.result .text-result{
		z-index: 200;
		text-align: center;
		margin-top: 50px;
		font-size: 20px;
		color: #333;
 	}

 	.result .replay{
		z-index: 200;
		text-align: center;
		margin-top: 20px;
		cursor: pointer;
		background-color: eee;
		border-radius: 20px;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
 	}

	/*Modificators*/
	.color-blue{
		color: #3366FF;
	}
	.color-red{
		color: #FF6600;
	}